.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    background: var(--color-white);
    padding: 1rem 2rem;
    gap: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
    height: auto;
}


.header button {
    background-color: var(--color-secondary);
    color: var(--color-white);

}

.header button:hover {
    background-color: var(--color-bg);

}

.header h1 {
    flex: 1;
    text-align: center;
    font-size: 3rem;
    color: var(--color-secondary);
}

