.header {
    padding: 1.6rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    max-height: 200px;
}


.logo {
    height: auto;
    width: 150px;
    object-fit: cover;
}

.header button {
    background-color: #2962FF;
    color: #64B5F6;
   padding: 1rem 2.4rem;
    border-radius: 8rem;
    font-weight: bold;
    cursor: pointer;

}

.header button:hover {
    background-color: #FFFFFF;

}