.home-container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    gap: 0.5rem;
    padding: 1.5rem;
}

.home-container button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    flex-shrink: 0;

}

.home-container button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    ;

}

.home-container input {
    flex: 1;
    min-width: 200px;
}