.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 60rem;
    margin: 4rem auto;
    gap: 1rem;
}

.home-container button {
    background-color: #FFFFFF;
    color: #64B5F6;
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;

}

.home-container button:hover {
    background-color: #2962FF;
    color: #FFFFFF;
    ;

}

.home-container input {
    border-radius: 0.5rem;

}