.landing-container {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 1.6rem;
    max-width: 500px;
    margin: 4.8rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.landing-title {
    color: var(--color-secondary);
    font-size: 3.2rem;
}

.landing-container p {
    color: var(--color-text);

}

.landing-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.landing-container button {
    background-color: var(--color-secondary);
    color: var(--color-white);

}

.landing-container button:hover {
    background-color: var(--color-bg);
}