.landing-container {
    background-color: #FFFFFF;
    padding: 3.2rem;
    border-radius: 1.6rem;
    max-width: 500px;
    margin: 4.8rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.landing-title {
    color: #212121;
    font-size: 3.2rem;
}

.landing-container p {
    color: #757575;
  
}


.landing-container img {
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.landing-container button {
    background-color: #2962FF;
    color: #64B5F6;
    padding: 1rem 2.4rem;
    border-radius: 8rem;
    font-weight: bold;
    cursor: pointer;
}

.landing-container button:hover {
    background-color: #FFFFFF;
}