.container {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 1.2rem;
    max-width: 400px;
    margin: 3rem auto;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.title {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-secondary);
}

.form-container button {
    background-color: var(--color-secondary);
    color: var(--color-white);

}

.form-container button:hover {
    background-color: var(--color-bg);
}

.form-container a {
    color: #64B5F6;
    text-decoration: none;
}

