.task-list {
    list-style: none;
    max-width: 600px;
    margin: auto;
    padding: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.item button {
    background: var(--color-danger);
}


.item button:hover {
    background: #d32f2f;
}

.item.completed p {
    text-decoration: line-through;
    color: #888;
    flex: 1;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}